# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
/uivenv
/executable files

/Main Application/dist_new
/Main Application/dist

# Logs & runtime data
logs/
*.log
*.csv
*.mdb
*.db

# PyInstaller / build outputs
dist/
build/
build_*/
*.spec
*.pkg

# OS / editor junk
.DS_Store
.idea/
.vscode/
