
flask
flask_sqlalchemy
qrcode
pyotp
bcrypt
itsdangerous
dotenv
python-multipart
psutil
pyserial
requests
pymysql
mariadb
minimalmodbus
kafka-python
smbus2
pillow
pyodbc
paramiko
pandas
pycomm3
pysmb
python-snap7
RPi.GPIO
pymodbus
dbutils